:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "Cormorant", sans-serif;
    --third-family: "IM FELL Great Primer SC", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* общий класс обертки с адаптивным паддингом по бокам */
.wrapper {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.header-wrapper {
    position: relative;
    height: 200px;
    padding: 30px 0 28px;
    display: flex;
    justify-content: space-between;
}

.drop-down-menu-btn {
    display: none;
    margin: auto 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.drop-down-menu-btn img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.header-logo {
    width: 73.2px;
    height: 142px;
    margin: auto 0;
}

.tea-sorts {
    position: relative;
    margin: auto auto;
    width: 582px;
}

.tea-sorts ul {
    list-style-type: none;
    display: flex;
    gap: 65px;
    padding: 0 0 0 60px;
}

.tea-sorts a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #151618;
}

.tea-sorts-drop-down-menu {
    width: 75%;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.5);
}

.tea-sorts-drop-down-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drop-down-menu-tea-sorts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.tea-sorts-drop-down-menu a {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.drop-down-menu-close-btn {
    display: flex;
    justify-content: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: right;
    margin: 20px;
}

.drop-down-menu-divider {
    width: 83.33%;
    height: 2px;
    margin: 60px auto;
    background: #f7f2ea;
}

.drop-down-menu-feedback {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 0 60px 0;
    gap: 30px;
}

.drop-down-menu-feedback a {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #000;
}

.drop-down-menu-toolbar {
    height: 60px;
    display: flex;
    justify-content: center;
    background: #f7f2ea;
    gap: 70px;
}

.drop-down-menu-toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.user-actions {
    width: 58px;
    display: flex;
    justify-content: space-between;
}

.tea-intro {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.tea-plantation-image {
    width: 100%;
    min-width: 1599px;
    height: auto;
    margin: 0 auto;
}

.tea-intro-text-overlay {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tea-intro-text-wrapper {
    max-width: 1200px;
    width: 100%;
}

.tea-intro .first {
    max-width: 790px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #fff;
    margin: 0;
}

.tea-intro .second {
    max-width: 558px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin: 20px 0 48px 0;
}

.tea-exploring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tea-meaning {
    max-width: 704px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #151618;
    margin: 120px 0 0 0;
}

.tea-exploring-title {
    max-width: 370px;
    text-align: center;
    margin: 150px 0 0 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
}

.tea-collections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px;
}

.tea-collection {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

.tea-collection p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

.client-reviews {
    min-height: 397px;
    margin-top: 150px;
    background: #f7f2ea;
}

.client-reviews-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-reviews-content-title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    margin: 60px 0 0 0;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
    margin: 60px 0 60px 0;
}

.review {
    width: 280px;
}

.review p:first-child {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #151618;
}

.review p:last-child {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #151618;
}

.tea-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tea-blog-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    margin: 150px 0 0 0;
}

.tea-blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    margin-top: 60px;
}

.blog {
    display: flex;
    gap: 20px;
    width: 542px;
}

.blog-image {
    height: 180px;
    width: 270px;
}

.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-info-title {
    height: 86px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

.blog-info .author {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #151618;
    margin: 0 0 30px 0;
}

.blog-info-link a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 13px;
    color: #151618;
}

.blog-info-link img {
    height: 10px;
    width: 5px;
    margin-left: 5px;
}

.blog-view-all {
    background: #fff;
    border: 1px solid #151618;
    padding: 12px 41px;
    margin: 60px 0 0 0;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #151618;
}

.subscribe {
    background: #f7f2ea;
    margin: 150px 0 0 0;
}

.subscribe-wrapper {
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    padding: 100px 0 0 0;
}

@media (max-width: 1264px) {
    .wrapper {
        padding: 0 20px;
    }

    .tea-intro-text-overlay {
        padding: 0 20px;
    }

    .reviews .review:last-child {
        display: none;
    }

    .tea-blogs {
        gap: 20px;
    }

    .blog {
        width: 460px;
    }

    .blog-image {
        height: 153px;
        width: 230px;
    }
}

@media (max-width: 1000px) {
    .drop-down-menu-btn {
        display: flex;
        flex-direction: column;
        margin-right: 90px;
    }

    .tea-sorts {
        display: none;
    }

    .toolbar {
        width: 130px;
    }
}

@media (max-width: 950px) {
    .reviews {
        flex-wrap: wrap;
    }

    .reviews .review:last-child {
        display: block;
    }

    .tea-blogs {
        gap: 30px;
    }

    .blog {
        width: 460px;
    }

    .blog-image {
        height: 153px;
        width: 230px;
    }
}

@media (max-width: 980px) and (min-width: 580px) {
    .blog:nth-child(even) {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 0 10px;
    }

    .header-wrapper {
        height: 76px;
    }

    .header-logo,
    .header-logo img {
        height: 56px;
        width: 39px;
    }

    .tea-intro-text-overlay {
        padding: 0 10px;
    }

    .tea-intro .first {
        font-size: 40px;
    }

    .tea-intro .second {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .tea-intro .first {
        font-size: 24px;
    }

    .tea-intro .second {
        font-size: 13px;
    }

    .drop-down-menu-btn {
        margin-right: 60px;
    }

    .toolbar {
        width: 100px;
    }

    .tea-meaning {
        font-size: 16px;
        margin-top: 60px;
    }

    .tea-exploring-title {
        margin-top: 60px;
    }

    .client-reviews-content-title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #151618;
    }

    .reviews .review:nth-last-child(1),
    .reviews .review:nth-last-child(2) {
        display: none;
    }

    .tea-blogs {
        width: 270px;
    }

    .blog {
        flex-wrap: wrap;
        width: 270px;
    }

    .blog img {
        height: 180px;
        width: 280px;
    }

    .blog-info-title {
        width: 270px;
    }
}