:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "Cormorant", sans-serif;
    --third-family: "IM FELL Great Primer SC", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input[type='checkbox'] { 
    border-radius: 0;
 }

/* общий класс обертки с адаптивным паддингом по бокам */
.wrapper {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.header-wrapper {
    position: relative;
    height: 200px;
    padding: 30px 0 28px;
    display: flex;
    justify-content: space-between;
}

.drop-down-menu-btn {
    display: none;
    margin: auto 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.drop-down-menu-btn img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.header-logo {
    width: 73.2px;
    height: 142px;
    margin: auto 0;
}

.tea-sorts {
    position: relative;
    margin: auto auto;
    width: 594px;
}

.tea-sorts ul {
    list-style-type: none;
    display: flex;
    gap: 68px;
    padding: 0 0 0 60px;
}

.tea-sorts a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #151618;
}

.tea-sorts-drop-down-menu {
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

.tea-sorts-drop-down-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.tea-sorts-drop-down-menu:not(.show) {
    pointer-events: none;
}

.drop-down-menu-tea-sorts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.tea-sorts-drop-down-menu a {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.drop-down-menu-close-btn {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: right;
    margin: 20px;
}

.drop-down-menu-divider {
    width: 83.33%;
    height: 2px;
    margin: 60px auto;
    background: #f7f2ea;
}

.drop-down-menu-feedback {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 0 60px 0;
    gap: 30px;
}

.drop-down-menu-feedback a {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #000;
}

.drop-down-menu-toolbar {
    height: 60px;
    display: flex;
    justify-content: center;
    background: #f7f2ea;
    gap: 70px;
}

.drop-down-menu-toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.user-actions {
    width: 58px;
    display: flex;
    justify-content: space-between;
}

.tea-intro {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.tea-plantation-image {
    width: 100%;
    min-width: 1599px;
    height: auto;
    margin: 0 auto;
}

.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%);
}

.tea-intro-text-overlay {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.tea-intro-text-wrapper {
    max-width: 1200px;
    width: 100%;
}

.tea-intro .first {
    max-width: 790px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #fff;
    margin: 0;
}

.tea-intro .second {
    max-width: 558px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin: 20px 0 48px 0;
}

.tea-exploring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tea-meaning {
    max-width: 704px;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 34px;
    text-align: center;
    color: #151618;
    margin: 150px 0 0 0;
}

.tea-exploring-title {
    max-width: 370px;
    text-align: center;
    margin: 150px 0 0 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
}

.tea-collections {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.tea-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.tea-collection p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

.client-reviews {
    min-height: 397px;
    margin-top: 150px;
    background: #f7f2ea;
}

.client-reviews-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-reviews-content-title {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    margin: 70px 0 0 0;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
    margin: 60px 0 60px 0;
}

.review {
    flex-shrink: 1;
    width: 100%;
    max-width: 280px;
    min-width: 220px;
}

.review p:first-child {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #151618;
    margin: 0;
}

.review p:last-child {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #151618;
    margin: 10px 0 0 0;
}

.tea-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tea-blog-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    margin: 150px 0 0 0;
}

.tea-blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    margin-top: 60px;
}

.blog {
    display: flex;
    gap: 20px;
    width: 542px;
    margin-bottom: -18px;
}

.blog-image {
    height: 180px;
    width: 270px;
}

.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-info-title {
    height: 86px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

.blog-info .author {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #151618;
    margin: 0 0 30px 0;
}

.blog-info-link a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 13px;
    color: #151618;
}

.blog-info-link img {
    height: 10px;
    width: 5px;
    margin-left: 5px;
}

.blog-view-all {
    background: #fff;
    border: 1px solid #151618;
    padding: 12px 41px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #151618;
    margin: 80px 78px 0 0;
}

.subscribe {
    position: relative;
    background: #f7f2ea;
    margin: 150px 0 0 0;
    z-index: 0;
}

.subscribe-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.subscribe-wrapper-bckgrnd-image {
    position: absolute;
    width: 673px;
    height: 418px;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.subscribe-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    padding: 100px 0 0 0;
    margin: 0;
    z-index: 200;
}

.subscribe-description {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 0 100px 0;
    z-index: 200;   
}

.subscribe-description p {
    margin: 0;
}

.subscribe-description form {
    gap: 40px;
}

.subscribe-text {
    flex: 1;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #151618;
}

.subscribe form {
    flex: 1;
}

.subscribe form div:first-child {
    display: flex;
    justify-content: space-between;
}

.subscribe form .text-input {
    border: none;
    border-bottom: 1px solid #b8b58b;
    background-color: transparent;
    outline: none;
    width: 75%;
    padding: 22px 5px 1px 15px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
}

.subscribe form .text-input::placeholder {
    line-height: 150%;
    color: #b8b58b;
}

.subscribe form button {
    border: 1px solid #151618;
    padding: 12px 41px;
    width: 116px;
    height: 51px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #151618;
    background: #fff;
}

.subscribe form div:last-child {
    display: flex;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #151618;
    margin: 12px 0 0 0;
}

.subscribe .checkbox-input {
    border: 1px solid #151618;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 4px 4px 0 0;
}

.priorities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priorities h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #151618;
    margin: 150px 0 0 0;
}

.priorities .content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0 0;
}

.priorities .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priorities .block h3 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 30px;
    color: #151618;
    margin: 0;
}

.priorities .block p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #151618;
    margin: 10px 0 0 0;
}

.priorities .block img {
    width: 60px;
    height: 60px;
    margin: 40px 0 0 0;
}

footer {
    background: #f7f2ea;
    padding: 100px 0 18px 0;
    margin-top: 150px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .products {
    display: flex;
    flex-direction: column;
}

footer .products h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

footer .products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

footer .product {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #151618;
}

footer .company {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

footer .company h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

footer .company-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

footer .company-link {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #151618;
}

footer .stay-in-touch {
    display: flex;
    gap: 41px;
}

.stay-in-touch .quote {
    max-width: 269px;
    font-family: var(--font-family);
    margin-top: 79px;
}

.stay-in-touch .quote p:first-child {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #151618;
    margin: 0;
}

.stay-in-touch .quote p:last-child {
    font-weight: 300;
    font-size: 12px;
    color: #151618;
    margin: 20px 0 0 0;
}

.stay-in-touch .links {
    max-width: 270px;
}

.stay-in-touch .links h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #151618;
    margin: 0;
}

.stay-in-touch .links .text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #151618;
    margin: 50px 0 0 0;
}

.stay-in-touch .contacts {
    display: flex;
    gap: 40px;
    margin: 20px 0 0 0;
}

.stay-in-touch .contacts .contacts-logo {
    width: 57px;
    height: 91px;
}

.phone {
    display: flex;
    margin: 20px 0 0 0;
}

.mail {
    display: flex;
    margin: 21px 0 0 0;
}

.phone p,
.mail p {
    margin: 0 0 0 10px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #151618;
}

.social-links {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 97px;
}

.license-and-payments {
    width: 466px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #151618;
    margin: 84px 0 0 0;
}

.payments {
    width: 156px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1264px) {
    .wrapper {
        padding: 0 20px;
    }

    .tea-intro-text-overlay {
        padding: 0 20px;
    }

    .reviews .review:last-child {
        display: none;
    }

    .tea-blogs {
        gap: 0;
        column-gap: 30px;
        row-gap: 70px;
    }

    .blog {
        width: 460px;
    }

    .blog-image {
        height: 153px;
        width: 230px;
    }
}

@media (max-width: 1000px) {
    .header-wrapper {
        height: 165px;
    }

    .header-logo {
        padding-top: 20px;
    }

    .drop-down-menu-btn {
        display: flex;
        flex-direction: column;
        margin-right: 90px;
    }

    .tea-sorts {
        display: none;
    }

    .toolbar {
        width: 130px;
    }

    .subscribe-text,
    .subscribe form {
        flex: 100%;
    }
}

@media (max-width: 950px) {
    .reviews {
        flex-wrap: wrap;
    }

    .reviews .review:last-child {
        display: block;
    }

    .tea-blogs {
        gap: 30px;
    }

    .blog {
        width: 460px;
    }

    .blog-image {
        height: 153px;
        width: 230px;
    }
}

@media (max-width: 980px) and (min-width: 580px) {
    .blog:nth-child(even) {
        margin-left: auto;
        margin-right: 82px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 64px;
    }

    .tea-intro-text-overlay {
        padding: 0 20px;
    }

    .tea-intro .second {
        font-size: 24px;
    }

    .tea-meaning {
        margin-top: 120px;
    }

    .tea-exploring-title {
        margin-top: 138px;
        margin-left: 94px;
    }

    .tea-collections {
        margin-top: 40px;
        justify-content: center;
    }

    .tea-collection {
        margin: 0 2px;
    }

    .tea-collection p {
        margin-top: 10px;
    }

    .client-reviews {
        margin-top: 120px;

    }

    .client-reviews-content-title {
        margin: 58px 0 0 9px;
    }

    .reviews {
        gap: 0;
        column-gap: 70px;
        row-gap: 30px;
        margin-bottom: 80px;
    }

    .tea-blog-title {
        margin-top: 125px;
    }

    .tea-blogs {
        gap: 48px
    }
    

    .blog-image {
        width: 270px;
        height: 180px;
    }

    .blog-info-title {
        width: 270px;
    }

    .blog-info .author {
        margin-bottom: 35px;
    }

    .blog-view-all {
        margin-top: 78px;
        margin-right: 0;
    }

    .subscribe {
        position: relative;
        margin-top: 120px;
    }

    .subscribe-title {
        text-align: center;
        padding-top: 60px;
    }

    .subscribe-description {
        align-items: center;
        gap: 58px;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .subscribe-description form {
        max-width: 582px;
        justify-content: center
    }

    .subscribe-description form div:last-child {
        justify-content: space-between;
    }

    .subscribe form .text-input {
        max-width: 439px;
        width: 100%;
    }

    .subscribe form .text-input {
        padding: 20px 5px 3px 22px;
    }

    .subscribe-text {
        text-align: center;
        width: 100%;
    }

    .subscribe form div:first-child {
        max-width: 600px;
    }

    .priorities .content-wrapper {
        row-gap: 30px;
    }

    .priorities h2 {
        margin-top: 120px;
    }

    .priorities .block img {
        margin-left: 9px;
    }

    footer {
        padding-top: 50px;
        margin-top: 116px;
    }

    footer .company {
        margin-left: 0;
        margin-right: 14px;
    }

    footer .stay-in-touch {
        flex-direction: column;
        width: 270px;
        gap: 50px;
    }

    .stay-in-touch .quote {
        margin: 0;
    }

    .phone {
        margin-top: 22px;
    }

    .mail {
        margin-top: 10px;
    }

    .social-links {
        margin-top: 20px;
    }

    .stay-in-touch .contacts .contacts-logo {
        width: 60px;  
    }

    .license-and-payments {
        width: 305px;
        margin-top: 50px;
    }
}

@media (max-width: 714px) {
    .header-wrapper {
        height: 76px;
    }

    .header-logo {
        padding-top: 0;
    }

    .header-logo,
    .header-logo img {
        height: 56px;
        width: 39px;
    }

    .blog-info-title {
        width: 100%;
    }


    .review {
        width: 220px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 0 10px;
    }

    .toolbar {
        width: 100px;
    }

    .tea-intro-text-overlay {
        padding: 0 10px;
    }

    .tea-intro .first {
        font-size: 40px;
        line-height: 48.44px;
    }

    .tea-intro .second {
        font-size: 24px;
        margin-bottom: 51px;
    }

    .drop-down-menu-btn {
        margin-right: 60px;
    }

    .header-logo, .header-logo img {
        margin-left: 11px;
    }

    .shadow-overlay {
        bottom: 5px;
    }

    .tea-meaning {
        font-size: 16px;
        margin-top: 57px;
        max-width: 376px;
    }

    .tea-exploring-title {
        margin-top: 59px;
        margin-left: 0;
    }

    .tea-collections {
        margin-top: 30px;
    }

    .tea-collection {
        margin: 0 0;
    }

    .tea-collection p {
        margin-top: 9px;
    }

    .client-reviews {
        margin-top: 60px;
    }

    .client-reviews-content-title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 40px;
        color: #151618;
        margin-top: 52px;
        margin-left: 3px;
    }

    .reviews {
        gap: 19px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .review {
        width: 220px;
        margin-bottom: 10px;
    }

    .reviews .review:nth-last-child(1),
    .reviews .review:nth-last-child(2) {
        flex-wrap: now;
    }

    .tea-blogs { 
        gap: 49px;
    }

    .blog {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-image {
        width: 230px;
        height: 153px;
    }

    .blog-info-title {
        width: 210px;
    }

    .tea-blog-title {
        margin-top: 56px;
    }

    .blog-info .author {
        margin: 0;
    }

    .blog-view-all {
        margin-top: 74px;
    }

    .subscribe {
        margin-top: 60px;
    }

    .subscribe-title {
        text-align: center;
        padding-top: 50px;
    }

    .subscribe-description {
        margin: 30px 0 50px 0;
        gap: 24px;
    }

    .subscribe-description p:first-child {
        text-align: center;
    }

    .subscribe .checkbox-input {
        margin-right: 10px;
    }

    .subscribe-wrapper-bckgrnd-image {
        display: none;
    }

    .subscribe-description p {
        font-size: 13px;
        text-align: left;
    }

    .priorities .content-wrapper {
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
    }

    .priorities h2 {
        margin-top: 62px;
        margin-left: 5px;
    }

    .priorities .block:last-child {
        margin-top: -9px;
    }

    footer {
        margin-top: 54px;
        padding-top: 50px;
    }

    footer .company {
        margin-left: 0;
        margin-right: 90px;
    }

    footer .products-list,
    footer .company-list {
        margin-top: 30px;
    }

    .stay-in-touch .quote {
        max-width: 100%;
        margin-top: 50px;
    }

    .stay-in-touch .quote p:last-child {
        margin-top: 10px;
    }

    .stay-in-touch .quote br {
        display: none;
    }

    footer .stay-in-touch {
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        margin-top: 4px;
    }

    .stay-in-touch .contacts {
        gap: 27px;
        margin-left: 20px;
    }

    .phone-and-mail {
        margin-top: -5px;
    }

    .mail {
        margin-top: 10px;
    }

    .stay-in-touch .links {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .stay-in-touch .links h2 {
        width: 100%;
        text-align: center;
    }

    .stay-in-touch .links .text {
        margin: 20px 0 0 0;
        text-align: center;
    }

    .social-links {
        margin: 19px 0 0 28px;
    }

    .license-and-payments {
        margin-top: 35px;
        width: 100%;
    }

    .payments {
        margin-right: 30px;
    }
}